<div class="center">
    <h1>Welcome to the Astro Messaging System!</h1>
    <h3>Login Here</h3>
    <form class="form">
        <fieldset class="fieldset">
            <legend style="font-size: 20px">Enter Username and Password</legend>
    
            <label for="guardianUsername">Username: </label>
            <input name="guardianUsername" type="text" [(ngModel)]="username">
            <br>
    
            <label for="guardianPassword">Password: </label>
            <input name="guardianPassword" type="password" [(ngModel)]="password">
        </fieldset>
        <button class="btnForm" (click)="validateLogin()">Login</button>
        <br>
        <div style="margin-top: 3em; font-size: 30px; text-decoration: none;">
            <a [routerLink]="['/register']">Register Account</a>
        </div>
    </form>
</div>
