<p>Register An Account!</p>
<form class="form" (ngSubmit)="registerAccount()">
    <fieldset class="fieldset">
        <label for="fname">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username">
        <br>
        <label for="fname">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password">
        <br>
        <label for="fname">Confirm Password:</label>
        <input type="password" id="checkPassword" name="checkPassword" [(ngModel)]="checkPassword">
        <br>
        <label for="fname">First Name:</label>
        <input type="text" id="fName" name="fName" [(ngModel)]="fName">
        <br>
        <label for="fname">Last Name:</label>
        <input type="text" id="lName" name="lName" [(ngModel)]="lName">
        <br>
        <button style="padding: 1em; margin-top: 3em;" type="submit">Submit</button>
        <br>
        <div style="margin-top: 1em; font-size: 30px;">
            <a style=" text-decoration: none; color: aliceblue;" [routerLink]="['/login']">Back to Login</a>
        </div>
    </fieldset>
</form>